*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}
#box1{
    width: 350px;
    height: 400px;
    transition: all ease 0.05s;
    background-position-x: center;
    background-image: url(https://images.unsplash.com/photo-1460306855393-0410f61241c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8aW1hZ2UlMjAlMjAlMjAlMjAlMjBwaXphJTIwYW5kJTIwYnVyZ2VyJTIwYW5kJTIwY2xpY2tlbiUyMGxvbHlwb3B8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    background-color: salmon;
    scale: 1;
    border-radius: 10px;
}
#box2{
    width: 350px;
    height: 400px;
    transition: all ease 0.05s;
    background-position-x: center;
    background-image: url(https://media.istockphoto.com/id/514437027/photo/delicious-grill-bunny.jpg?b=1&s=170667a&w=0&k=20&c=oTMP5uh7xiqpC7aJRq6u-Vdw4Fx-j-UVz6enlhX20iI=);
    background-size: cover;
    background-color: salmon;
    scale: 1;
    border-radius: 10px;
}
#box3{
    width: 350px;
    height: 400px;
    transition: all ease 0.05s;
    background-position-x: center;
    background-image: url(https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZG9taW5vcyUyMHBpenphfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-size: cover;
    background-color: salmon;
    scale: 1;
    border-radius: 10px;
}
h1{
    position: absolute;
    top: 0.5%;
    left: 22%;
    font-size: 3vmax;
    font-weight: 2vmax;
    font-family: 'Times New Roman', Times, serif;
}